.template {
  margin: auto;
}

.color-boxes {
  display: inline-block;
  margin: auto;

  div {
    height: 100px;
    width: 300px;
    margin: 0;
  }
}

.primary-color-100 {
  background-color: $primary-color-100;
}

.primary-color-200 {
  background-color: $primary-color-200;
}

.primary-color-300 {
  background-color: $primary-color-300;
}

.primary-color-400 {
  background-color: $primary-color-400;
}

.primary-color-500 {
  background-color: $primary-color-500;
}

.primary-color-600 {
  background-color: $primary-color-600;
}

.primary-color-700 {
  background-color: $primary-color-700;
}

.primary-color-800 {
  background-color: $primary-color-800;
}

.primary-color-900 {
  background-color: $primary-color-900;
}

.secondary-color-100 {
  background-color: $secondary-color-100;
}

.secondary-color-200 {
  background-color: $secondary-color-200;
}

.secondary-color-300 {
  background-color: $secondary-color-300;
}

.secondary-color-400 {
  background-color: $secondary-color-400;
}

.secondary-color-500 {
  background-color: $secondary-color-500;
}

.secondary-color-600 {
  background-color: $secondary-color-600;
}

.secondary-color-700 {
  background-color: $secondary-color-700;
}

.secondary-color-800 {
  background-color: $secondary-color-800;
}

.secondary-color-900 {
  background-color: $secondary-color-900;
}

.tertiary-color-100 {
  background-color: $tertiary-color-100;
}

.tertiary-color-200 {
  background-color: $tertiary-color-200;
}

.tertiary-color-300 {
  background-color: $tertiary-color-300;
}

.tertiary-color-400 {
  background-color: $tertiary-color-400;
}

.tertiary-color-500 {
  background-color: $tertiary-color-500;
}

.tertiary-color-600 {
  background-color: $tertiary-color-600;
}

.tertiary-color-700 {
  background-color: $tertiary-color-700;
}

.tertiary-color-800 {
  background-color: $tertiary-color-800;
}

.tertiary-color-900 {
  background-color: $tertiary-color-900;
}

.grey-color-100 {
  background-color: $grey-color-100;
}

.grey-color-200 {
  background-color: $grey-color-200;
}

.grey-color-300 {
  background-color: $grey-color-300;
}

.grey-color-400 {
  background-color: $grey-color-400;
}

.grey-color-500 {
  background-color: $grey-color-500;
}

.grey-color-600 {
  background-color: $grey-color-600;
}

.grey-color-700 {
  background-color: $grey-color-700;
}

.grey-color-800 {
  background-color: $grey-color-800;
}

.grey-color-900 {
  background-color: $grey-color-900;
}

.white-color {
  background-color: $white-color;
}

.black-color {
  background-color: $black-color;
}
