@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/typography';
@import 'src/styles/resets';
@import 'src/styles/hero';
@import 'src/styles/navigation';
@import 'src/styles/colours';
@import 'src/styles/content';

body {
  @include header(2.5rem);
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'Sintony', sans-serif;
  font-size: 1.6rem;
  background: $black;
  color: $white;
  font-weight: 100;
}

header {
  height: 5rem;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;

  button {
    height: 100%;
    width: 50px;
    background: transparent;
    color: $white;
    border: none;
  }
}
