<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Title Goes Here</title>
    <link rel="stylesheet" href="/styles/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <button>Nav</button>
    </header>
    <main>
      <section class="hero">
        <img class="logo" src="assets/svgs/test.svg">
        <video width="100%" height="" autoplay loop muted>
          <source src="http://cdnstatic.bethsoft.com/doom.com/assets/video/DOOM_Launch_Webm.webm" type="video/webm">
          Your browser does not support the video.
        </video>
      </section>
      <nav>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
        </ul>
      </nav>
    </main>
  </body>
</html>