<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Title Goes Here</title>
    <link rel="stylesheet" href="/styles/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <main>
      <section class="hero">
        <img class="logo" src="assets/svgs/doom-logo.svg">
        <video width="100%" height="" autoplay loop muted>
          <source src="http://cdnstatic.bethsoft.com/doom.com/assets/video/DOOM_Launch_Webm.webm" type="video/webm">
          Your browser does not support the video.
        </video>
      </section>
      <section class="template">
        <div class="color-boxes">
          <div class="primary-color-100"></div>
          <div class="primary-color-200"></div>
          <div class="primary-color-300"></div>
          <div class="primary-color-400"></div>
          <div class="primary-color-500"></div>
          <div class="primary-color-600"></div>
          <div class="primary-color-700"></div>
          <div class="primary-color-800"></div>
          <div class="primary-color-900"></div>
        </div>
        <div class="color-boxes">
          <div class="secondary-color-100"></div>
          <div class="secondary-color-200"></div>
          <div class="secondary-color-300"></div>
          <div class="secondary-color-400"></div>
          <div class="secondary-color-500"></div>
          <div class="secondary-color-600"></div>
          <div class="secondary-color-700"></div>
          <div class="secondary-color-800"></div>
          <div class="secondary-color-900"></div>
        </div>
        <div class="color-boxes">
          <div class="tertiary-color-100"></div>
          <div class="tertiary-color-200"></div>
          <div class="tertiary-color-300"></div>
          <div class="tertiary-color-400"></div>
          <div class="tertiary-color-500"></div>
          <div class="tertiary-color-600"></div>
          <div class="tertiary-color-700"></div>
          <div class="tertiary-color-800"></div>
          <div class="tertiary-color-900"></div>
        </div>
        <div class="color-boxes">
          <div class="white-color"></div>
          <div class="grey-color-100"></div>
          <div class="grey-color-200"></div>
          <div class="grey-color-300"></div>
          <div class="grey-color-400"></div>
          <div class="grey-color-500"></div>
          <div class="grey-color-600"></div>
          <div class="grey-color-700"></div>
          <div class="grey-color-800"></div>
          <div class="grey-color-900"></div>
          <div class="black-color"></div>
        </div>
      </section>
    </main>
  </body>
</html>
