<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Title Goes Here</title>
    <link rel="stylesheet" href="/styles/main.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  </head>
  <header>
    <h1>Boy Jumps Ship</h1>
    <video width="100%" height="" autoplay loop muted>
      <source src="/assets/vid.mp4" type="video/mp4">
      Your browser does not support the video.
    </video>
  </header>
  <body>
    <main>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo luctus erat, vitae hendrerit ante rutrum vel. Donec ultricies varius est eu consequat. Etiam sed <b>elementum orci</b>. Proin tellus urna, ornare in pulvinar eget, efficitur eget nisl. Aenean blandit quis arcu et feugiat. Praesent consequat ac lorem sed convallis. Nunc sagittis facilisis nisl, ullamcorper dignissim erat commodo quis. Nulla pharetra feugiat diam. Fusce porta euismod maximus. Donec cursus ut purus ut suscipit. <b>Morbi et vestibulum velit.</b> Nullam vel imperdiet ipsum, in ultricies elit. Nam id lacus at ex posuere facilisis vel sed tellus. Morbi placerat sagittis elit, a rhoncus tortor congue eu. Duis vehicula, odio at porttitor suscipit, quam nulla ultrices neque, eget tincidunt ante lorem nec nulla. Proin gravida est eget mauris pretium tempus.</p>
      <p>Morbi ac massa purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget consequat nunc, bibendum vestibulum neque. Nullam tempus vehicula cursus. <b>Praesent iaculis</b>, odio vitae blandit euismod, augue lectus sodales urna, nec tincidunt diam lectus molestie nunc. Suspendisse at neque non metus lacinia tincidunt vitae eu neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam ultricies, ante non accumsan placerat, ante nunc tincidunt nibh, eu efficitur purus tortor eu tortor.</p>
    </main>
  </body>
</html>